# Finding campgrounds that allow tents.

# /* Scripts: 
           setup/create database, 
           fetch data and load to database, 
           retrieve data from sql db into python object,
           visualize results, data retrieval for vis uses at least one sql query
           */

Questions
 What campgrounds allow tents?
 Which campgrounds only allow tents?

In [12]:
import os
os.getcwd()

# os.chdir("C:\Users\TXW8432\")
#SELECT CampsiteType FROM USCampsitesDB.db

import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import Markdown, display

conn = sqlite3.connect("USCampsitesDB.db")

def printmd(string):
    display(Markdown(string))

In [14]:
conn = sqlite3.connect("USCampsitesDB.db")
c = conn.cursor()

# Create US Campsites Table
sql_create = """
CREATE TABLE IF NOT EXISTS fed_campsites (
    field1 INTEGER PRIMARY KEY,
    CampsiteID INTEGER,
    CampsiteName TEXT,
    CampsiteType TEXT,
    FacilityID INTEGER,
    FacilityLatitude INTEGER,
    FacilityLongitude INTEGER,
    FacilityName TEXT,
    AddressStateCode TEXT,
    OrgAbbrevName INTEGER
    );
"""

# remove any data from a previous run
sql_delete = "DELETE FROM fed_campsites"

try:
    c.execute(sql_create)
    c.execute(sql_delete)
    conn.commit
finally:
    conn.rollback()
    c.close()
    conn.close()

In [2]:
# add foreignt key
# also add key to the type of the attraction

conn - sqlite3.connect("USCampsitesDB.db")
c = conn.cursor()

# Create the table
campsite_create_sql = """
CREATE TABLE IF NOT EXISTS tentonly (
    campsiteName TEXT PRIMARY KEY,
    location INTEGER
);
"""

campsite_delete_sql = "DELETE FROM campsite"

campsite_insert_sql = """
INSERT INTO campsite
("")
"""

try:
    c.execute(campsite_create_sql)
    c.execute(campsite_create_sql)
    c.execute(campsite_create_sql)
    conn.commit()
finally:
    conn.rollback()
    c.close()
    conn.close()

NameError: name 'conn' is not defined

In [3]:
# SQLite db file will continue to grow in size after any deletes or drops
# This will optimize the database file and reduce its size
# You can also just remove the db file and recreate
#http://www.sqlitetutorial.net/sqlite-vaccuum/
conn = sqlite3.connect("USCampsitesDB.db")
conn.execute("TENTS")

NameError: name 'sqlite3' is not defined

In [4]:
conn = sqlite3.connect("USCampsitesDB.db")
c = conn.cursor()
 
# List of attraction data
campsites = ["", "", "", "", "", "", "", "", ""]

printmd("### Loading Attraction Data...")

# load into sqlite table
for dampsite in campsites:
    filepath = 'csv/{}.csv'.format(attraction)
    
    # read csv file
    df = pd.read_csv(filepath, parse_dates=['datetime'], usecols=['datetime', 'SPOSTMIN'])
    
    # change the columns names from the csv file to something more appropriate
    df.columns = ['date', 'wait_time']
    
    # the data has some issues with negative wait times.  This removes these data points
    df.drop(df[df.wait_time < 0].index, inplace=True)
    
    # add a new column 'attraction' with the attraction name
    df['attraction_name'] = attraction
    
    # append the data to the 'wait_times' table in the 'wait_times.db'
    df.to_sql("campsites", sqlite3.connect("USCampsitesDB.db"), if_exists = "append", index=False)
    
    # output the attraction
    print(f'- {campsite} ({campsite}.csv)')

NameError: name 'sqlite3' is not defined

In [ ]:
conn = sqlite3.connect("wait_times.db")

# This will provide both index-based and case-insensitive name-based access to columns
conn.row_factory = sqlite3.Row
c = conn.cursor()

try:
    # SQL statements
    total_count_sql = """
    SELECT count(*) as total_count 
    FROM wait_times
    """

    date_span_sql = """
    SELECT MIN(DATE) as min_date, MAX(date) as max_date 
    FROM wait_times
    """
    
    attraction_count_sql = """
    SELECT full_name, park, count(*) as attraction_count
    FROM wait_times w
        INNER JOIN attractions a ON w.attraction_name = a.name
    GROUP BY attraction_name, park
    ORDER BY attraction_name
    """
    
    year_count_sql = """
    SELECT strftime('%Y', date) as year, count(*) as year_count
    FROM wait_times
    GROUP BY 1
    ORDER BY 1
    """
    
    minute_counts_sql = """
    SELECT wait_time, count(*) as wait_time_count
    FROM wait_times
    GROUP BY wait_time
    ORDER BY wait_time
    """
    
    # run the queries
    total_count = c.execute(total_count_sql).fetchone()[0]
    date_span = c.execute(date_span_sql).fetchone()
    year_count = c.execute(year_count_sql).fetchall()
    attraction_counts = c.execute(attraction_count_sql).fetchall()
    minute_counts = c.execute(minute_counts_sql).fetchall()
    
    #
    # TOTAL RECORDS
    #
    
    # output the results
    printmd(f"### Total Wait Time Records: {total_count:,}")
    
    #
    # RECORDS DATE SPAN
    #
    
    # This is an example of a named row (see row_factory sqlite3.Row above)
    printmd(f"""
### Records Date Span
- Earliest Record: {date_span['min_date']}
- Latest Record: {date_span['max_date']}
""")
    
    
    #
    # RECORDS BY YEAR
    #
    print_records_by_year = """### Records by Year
| Year | Count   |
|------|---------|
"""
    for row in year_count:
        print_records_by_year += f"| {row['year']} | {row['year_count']:,} |\n"
        #print("{} - {:,}".format(*row))
    
    printmd(print_records_by_year)

    
    #
    # RECORDS BY ATTRACTION
    #
    print_records_by_attraction = """### Records by Attraction
| Park | Name    | Count |
|------|---------|-------|
"""
    for row in attraction_counts:
        print_records_by_attraction += f"| {row['park']} | {row['full_name']} | {row['attraction_count']:,}\n"
        
    printmd(print_records_by_attraction)   
    
    minutes_list = []
    minute_records = []
    for row in minute_counts:
        minutes_list.append(row[0])
        minute_records.append(row[1])
        #print("Minute {} - {:,}".format(*row), end=' | ')
        #if row[0] % 3 == 0:
            #print("\n")

    # bar chart
    plt.figure(figsize=(20, 3))
    plt.bar(minutes_list, minute_records, color="blue", width=3)
    plt.xlabel('Minutes')
    plt.ylabel('Records')
    plt.title('Records by Wait Time', fontsize=20)
    plt.grid(True)
    plt.show()

    conn.commit()
finally:
    conn.rollback()
    c.close()
    conn.close()

In [5]:
conn = sqlite3.connect("wait_times.db")
c = conn.cursor()

# SQL average by month between dates
sql = """
SELECT strftime('%Y', date) as year,
       strftime('%m', date) as month, 
       round(avg(wait_time), 2) as avg_wait_time
FROM wait_times 
WHERE wait_time > 0
AND date between '2013-01-01' and '2017-12-31'
GROUP BY year, month 
ORDER BY year, month
"""

# this will return a long list of the results
average_by_year_df = pd.read_sql_query(sql, conn)

# pivot on year to create a grid of resutls by year
# this will setup the data for the line plot
average_by_year_df = average_by_year_df.pivot(index='month', columns='year', values='avg_wait_time')

# table view of the data
printmd("### Average Monthly Wait Time by Year")
display(average_by_year_df)

# visualization of the data with a line chart
ax = average_by_year_df.plot(figsize=(18,6))
ax.set_xticks(range(len(average_by_year_df)))
ax.set_xticklabels(["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"], rotation=90);
ax.set_title('Average Monthly Wait Time by Year')
ax.grid(True)

In [ ]:
# connect to the sqlite database
conn = sqlite3.connect("wait_times.db")
c = conn.cursor()

# SQL average by month between dates
sql = """
SELECT strftime('%m', date) as month, 
    full_name,
    round(avg(wait_time),0) as avg_wait_time
FROM wait_times w
    INNER JOIN attractions a ON w.attraction_name = a.name
WHERE wait_time > 0
AND date between '2017-01-01' and '2017-12-31'
GROUP BY full_name, month 
ORDER BY full_name, month 
"""

# this will return a long list of the results
attraction_by_month_df = pd.read_sql_query(sql, conn)

# pivot on year to create a grid of resutls by year
# this will setup the data for the line plot
attraction_by_month_df = attraction_by_month_df.pivot(index='month', columns='full_name', values='avg_wait_time')

title = "Attraction Average Monthly Wait Time - 2017"
dataComment = "* Splash Mountain was closed for refurbishment from August 28th through November 16th"

# Replace NaN with * for missing Splash Mountain data
attraction_by_month_nan_replace_df = attraction_by_month_df.fillna('*')

# table view of the data
printmd(f"""### {title} 
**{dataComment}**""")
display(attraction_by_month_nan_replace_df)

# visualization of the data with a line chart
ax = attraction_by_month_df.plot(figsize=(18,6))
ax.set_xticks(range(len(attraction_by_month_df)))
ax.legend(title="Attractions")
ax.set_xticklabels(["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"], rotation=90);
ax.set_title(title)
ax.text(0, 14, r'* Splash Mountain was closed for refurbishment from August 28th through November 16th')
ax.grid(True)

In [ ]:
conn = sqlite3.connect("wait_times.db")

# SQL average
sql = """
SELECT strftime('%Y', date) as year, round(avg(wait_time),2) as avg_wait_time
FROM wait_times 
WHERE attraction_name = "toy_story_mania"
GROUP BY year 
ORDER BY year
"""

# execute the query
average_by_year_df = pd.read_sql_query(sql, conn)


# title
title = "Toy Story Monthly Wait Time - 2017"

printmd(f"### {title}")
display(average_by_year_df)

# visualization of the data with a line chart
ax = average_by_year_df.plot(figsize=(10,6))
ax.set_xticks(range(len(average_by_year_df)))
ax.legend(title="Attractions")
ax.set_xticklabels(["2012", "2013", "2014", "2015", "2016", "2017", "2018"]);
ax.set_title(title)
ax.grid(True)